@model IEnumerable<BasseinProekt.Models.Klient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spravka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamiliR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Otchestvo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeriaPasport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomerPasporta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Spravka.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamiliR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Otchestvo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeriaPasport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomerPasporta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
