@model IEnumerable<BasseinProekt.Models.Vanna>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeVanna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomerVanna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shirina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glubina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dlina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeVanna.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomerVanna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shirina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glubina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dlina)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
